{% extends "base.html" %}
{% block title %}Page entreprise{% endblock %}
{% block content %}
    <header>

        <h1>LA FEDA ET LA CRABA Eco-pâturage</h1>
    </header>

    <section id="contact">
        <h2>Contact</h2>
        <p>Téléphone : 06 11 15 29 69</p>
        <p>Facebook : <a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
        <p>Linkedin : <a href="https://www.linkedin.com/in/" target="_blank">Linkedin</a></p>
    </section>

    <section id="label">
        <h2>Label Animal&amp;Cité CUIVRE</h2>
        <p>Score par axe du label Animal&amp;Cité :</p>
        <ul>
            <li>Réglementation et sécurité: -</li>
            <li>Bien-être animal: -</li>
            <li>Gestion durable des espaces: -</li>
            <li>Responsabilité sociale: -</li>
        </ul>
    </section>

    <section id="presentation">
        <h2>Présentation</h2>
        <p>De formation paysagiste, je travaille depuis 25 ans dans les espaces, dont 23 au sein de la mairie d'Albi. Sensible à l'environnement, à la protection de la biodiversité et plus particulièrement aux animaux, j'ai créé en 2021 mon entreprise d'éco-pâturage...</p>
        <p>Animaux :</p>
        <ul>
            <li>Chèvre - Poitevine</li>
            <li>Mouton - Ouessant</li>
            <li>Mouton - Bizet</li>
            <li>Mouton - Rava</li>
        </ul>

    </section>

    <!-- Ajoutez d'autres sections selon vos besoins -->

    <footer>
        <!-- Ajoutez le contenu du pied de page si nécessaire -->
    </footer>

{% endblock %}